@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in Reflective Mirror 
    </h1>
    <p><a href="https://localhost:7261/Home/About">ABOUT US</a>.</p>
</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-image: url('@Url.Content("~/img/ReflectiveMirror1.png")'); /* Correct path to your background image */
            background-size: 75% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin: 0;
            padding: 10px;
            font-family: Arial, Helvetica, sans-serif;
            color: #FFFFFF;
            text-align: center;
            background-position: center;
        }

        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

</head>
</html>